.self{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.self img{
    margin-top: 150px;
}
.self h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}
.self h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.self p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.self-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom:50px;
}
.self-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.08%, #B415FF 106.28%);
    cursor: pointer;
}
.self-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.self-connect:hover{
    border: 2px solid white;
}
.self-resume:hover{
    border-color: #B415FF;
}